<!DOCTYPE html>
<html lang="en">

<head>
    <title>Setup Profile API</title>
</head>

<body>
    <form method="post" action="/set-profile">
        <h3>Setup Persistent menu for bot </h3>
        <button type="submit">Click here </button>
    </form>
</body>

</html>